alembic==0.9.9
astroid==2.8.0
certifi==2018.1.18
click==6.7
Flask==0.12.2
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
isort==5.9.3
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.6.0
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
platformdirs==2.4.0
pylint==2.11.1
python-dateutil==2.7.2
python-editor==1.0.3
six==1.11.0
SQLAlchemy==1.2.6
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
Werkzeug==0.14.1
wincertstore==0.2
wrapt==1.12.1
WTForms==2.1
